{%- comment -%}
  {
    "name": "Navigation 01",
    "author": "PusherCommerce"
    "name": "Phu"
    "description": "Please DO NOT copy in any form. Any act of copying will be sued and held responsible with the law"
  }
{%- endcomment -%}

{% capture minify %}
  <style>
    #psb-{{ section.id }} {
      overflow: hidden;
      background-color: {{section.settings.background_color}};
      padding-top: {{section.settings.section_padding_top_mobile}}px;
      padding-bottom: {{section.settings.section_padding_bottom_mobile}}px;
    }

    #psb-{{ section.id }} .swiper-wrapper {
      {% if section.settings.enable_center_mode == false %}
        width: fit-content;
      {% endif %}
    }

    #psb-{{ section.id }} .swiper-slide {
      padding: {{ section.settings.item_height }}px 40px;
      width: fit-content;
    }

    #psb-{{ section.id }} .swiper-slide:not(:last-child) {
      {% if section.settings.enable_border %}
        border-right: 1px solid {{ section.settings.heading_color }};
      {% endif %}
    }

    #psb-{{ section.id }} .navigation-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: {{ section.settings.heading_color }};
      text-decoration: none;
    }

    /* Media */
    @media screen and (min-width: 768px) {
      #psb-{{ section.id }} {
        padding-top: {{section.settings.section_padding_top}}px;
        padding-bottom: {{section.settings.section_padding_bottom}}px;
      }
    }
  </style>
{% endcapture %}
{{ minify | strip_newlines }}

<div id="psb-{{ section.id }}" class="psb-{{ section.id }} psb-section psb-navigation-navigation-01" style="display: none;">
  <div class="{{ section.settings.container_width }}">
    <psb-swiper data-config='
        {
          "centeredSlides": {{ section.settings.enable_center_mode }},
          "simulateTouch": true,
          "grabCursor": true,
          "slidesPerView": "auto",
          "watchOverflow": true,
          "loop": false,
          "freeMode": true,
          "speed": 300,
          "effect": "slide"
        }
      '>
      <div class="slider-{{section.id}} item-slider swiper-container swiper" style="overflow:visible">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            <div class="swiper-slide" {{ block.shopify_attributes }}>
              {% liquid
                if block.settings.url != blank
                  assign wrapper = 'a'
                else
                  assign wrapper = 'div'
                endif
              %}
              <{{ wrapper }}
                {%- if wrapper == 'a' -%}
                  href="{{ block.settings.url }}"
                {%- endif -%}
                class="navigation-link"
              >
                <{{ section.settings.heading_tag }} class="slide_info-name">
                  {% if block.settings.title %}
                    {{ block.settings.title }}
                  {% endif %}
                </{{ section.settings.heading_tag }}>
              </{{ wrapper }}>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </psb-swiper>
  </div>
</div>

{% schema %}
{
  "name": "⚡︎PSB: Navigation 01",
  "tag": "section",
  "class": "psb-section-wrapper",
  "settings": [
    {
      "type": "paragraph",
      "content": "💡 Tips: Install & Use ⚡︎PSB: Space from [Utilities category](/admin/apps/pusher-sections-builder/sectionlibrary) if you want to create space from this section to other sections (above or below)"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "psb-container",
          "label": "Container"
        },
        {
          "value": "psb-container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "psb-container-fullwidth",
          "label": "Container Fullwidth"
        }
      ],
      "default": "psb-container-fullwidth",
      "label": "Container width"
    },
    {
      "type": "header",
      "content": "Main settings"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "Div"
        }
      ],
      "default": "h3"
    },
    {
      "type": "range",
      "id": "item_height",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Item height",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "enable_border",
      "label": "Enable border",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_center_mode",
      "label": "Enable center mode",
      "default": true
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#fafafa"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Section padding-top",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Section padding-bottom",
      "default": 100
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_mobile",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Section padding-top",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom_mobile",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Section padding-bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Navigation item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "⚡︎PSB: Navigation 01",
      "settings": {
        "background_color": "#000",
        "section_padding_top": 20,
        "section_padding_bottom": 20,
        "section_padding_top_mobile": 10,
        "section_padding_bottom_mobile": 10
      },
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "SHOP"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "TOPS"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "DRESSES"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "SHIRTS"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "LONG SLEEVE"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "SHORT SLEEVE"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "3/4 SLEEVE"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "SPRING 2023"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "SUMMER 2023"
          }
        }
      ]
    }
  ]
}
{% endschema %}
